/*
Copyright 2021 almaember

This file is part of PCRemote.

PCRemote is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PCRemote is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with PCRemote.  If not, see <https://www.gnu.org/licenses/>.
*/

/*#region Global styles*/

body {
    --border-color: rgb(53, 7, 7);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*#endregion*/

/*#region Basic layout*/

/* we need this because otherwise the main tag won't fill the screen */
html, body {
    margin: 0;
    height: 100%;
}


main {
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-columns: auto auto auto;
    grid-template-rows: 30% 30% 40%;
}

/* left/right buttons are two rows tall */
#btn-left, #btn-right {
    grid-row: 1 / span 2;
}

/* left is on the left and right is on the right */
#btn-left {
    grid-column: 1;
}

#btn-right {
    grid-column: 3;
}

/* the space button fills the entire bottom row */
#btn-space {
    grid-column: 1 / span 3;
}

/*#endregion*/

/*#region Button styles*/

button {
    font-size: 3em;
    
    color: rgb(173, 173, 173);
    background: rgb(50, 18, 102);

    border: 3px solid var(--border-color);
}

button:active {
    filter:invert();
}

button:focus {
    outline: none;
}

/*#endregion*/